h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: start;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active {
  color: cadetblue;
}

ul,
form {
  margin-left: 40px;
}

input {
  margin-left: 25px;
}
